---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
	data-theme="{{ site.theme-color }}">
	<h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
	<ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>我是Yucol</h1>
		<br />
		<p>放风筝的潍坊人，本科毕业于山东科技大学地理信息科学专业。</p>
		<br />
		<p>硕士毕业于中国地震局地震预测研究所，方向为热红外遥感相关性统计分析</p>
		<br />
		<p>目前正在某央企二级单位摸🐟</p>
		<br />
		<p>喜欢竞技类游戏，主队Team Spirit，喜欢房东的猫，喜欢成果。</p>
		<br />
		<p>喜欢羽毛球、骑行、摄影、看演唱会。</p>
		<br />

		<h2 align="center">称号</h2>
		<br />
		<p>🏸羽毛球最佳捡球员</p>
		<br />
		<p>🚴‍♂️公路车一级推车手</p>
		<br />
		<p>📷镜头片最强擦拭员</p>
		<br />
		<p>🎮炮车兵掠夺者</p>
		<br />

		<h2 align="center">荣誉</h2>
		<br />
		<p>国家励志奖学金</p>
		<br />
		<p>中国科学院大学地球与行星科学学院三好学生</p>
		<br />
		<p>中国地震局地震预测研究所一等奖学金</p>
		<br />
		<p>中国地震局地震预测研究所二等奖学金</p>
		<br />
		<p>泛海集团助学金</p>
		<br />
		<p>首届定量遥感国际暑期学校结业证书</p>
		<br />
		<p>“遥感科技赋能新质生产力”高端论坛暨专家委员会常务会议-研究生优秀报告奖</p>
		<br />
		<p>优秀毕业论文</p>
		<br />
		<p>山东科技大学二等奖学金</p>
		<br />

		<h2 align="center">联系方式</h2>
		<br />
		<p>Github: <a target="_blank" href="https://github.com/JMbaozi" style="color:#5bbd72;">JMbaozi</a></p>
		<br />
		<p>微博: <a target="_blank" href="https://weibo.com/3958305706" style="color:#5bbd72;">@乖乖龙地冬丶</a></p>
		<br />
		<p>邮箱: yucoled@gmail.com</p>
		<br />
		<p>微信: Yucoled & Lum0sing </p>
		<br />
	</ul>

</main>

{% include footer.html %}